@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham-Bold"; /*Can be any text*/
  src: local("Gotham-Bold"), url("/fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Gotham-Book"; /*Can be any text*/
  src: local("Gotham-Book"), url("/fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
  font-family: "Gotham-Light"; /*Can be any text*/
  src: local("Gotham-Light"), url("/fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gotham-Medium"; /*Can be any text*/
  src: local("Gotham-Medium"),
    url("/fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Gotham-Thin"; /*Can be any text*/
  src: local("Gotham-Thin"), url("/fonts/Gotham-Thin.otf") format("opentype");
}
